@page "/"
@using Microsoft.AspNetCore.Authorization
@layout MainLayout
@attribute [Authorize]

<style>
    .container {
        text-align: center;
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        height: 60vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .page-title {
        font-size: 2.5rem;
        margin-bottom: 20px;
        color: #5143d9;
    }

    .mud-text {
        font-size: 1.2rem;
        margin-bottom: 10px;
    }

    .pdf-container {
        display: flex;
        align-items: center;
    }

        .pdf-container .mud-text {
            margin-right: 10px;
        }
</style>

<div class="container">
    <div class="page-title">Welcome to Memorizing!</div>
    <div class="mud-text">Here you can remember foreign words.</div>
    <div class="pdf-container">
        <div class="mud-text">You can also generate PDF files to print and remember words without a network.</div>
        <MudIcon Icon="@Icons.Material.Filled.PictureAsPdf" Variant="Variant.Outlined" Color="Color.Primary" Size="Size.Small"></MudIcon>
    </div>
    <div class="mud-text">
        <MudNavLink Href="/collections" Match="NavLinkMatch.Prefix">Go to collections</MudNavLink>
    </div>
</div>
