@page "/forgot-password"
@using NetSchool.Web.Pages.Account.Models
@using NetSchool.Web.Pages.Account.Services
@using System.ComponentModel.DataAnnotations

@inject IAccountService AccountService
@inject NavigationManager NavigationManager

<MudGrid Justify="Justify.Center" Class="pa-10">
    <MudItem xs="7" sm="4">
        <MudPaper Class="pa-4">
            <EditForm Model="@model" OnValidSubmit="OnValidSubmit">

                <MudText Typo="Typo.h4" GutterBottom="true" Class="mb-3">Reset password</MudText>

                <MudTextField T="string"
                              @bind-Value="model.Email" For="@(() => model.Email)"
                              Label="Email"
                              Required="true"
                              RequiredError="Email is required!"
                              HelperText="Input your email"
                              Validation="@(new EmailAddressAttribute() {ErrorMessage = "The email address is invalid"})" />

                <div Class="d-flex justify-space-between align-center">
                    <MudLink Href="/login">Have an account?</MudLink>
                </div>

                <MudButton Variant="Variant.Filled"
                           Color="Color.Primary"
                           Size="Size.Large"
                           ButtonType="ButtonType.Submit">
                    Send an email
                </MudButton>
            </EditForm>
        </MudPaper>
    </MudItem>
</MudGrid>

@code {
    private EmailConfirmModel model = new();

    private async Task OnValidSubmit()
    {
        await AccountService.SendEmailToChangePassword(model.Email);
    }
}