/*style for generated pdf document*/

.header {
    text-align: center;
    color: black;
    padding-bottom: 35px;
    font-size: 16pt;
}

table {
    width: 80%;
    border-collapse: collapse;
    table-layout: fixed;
}

td, th {
    border: 1px solid gray;
    padding: 15px;
    font-size: 16pt;
    text-align: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

table th {
    background-color: #5432db;
    color: white;
}
